.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #26282B;
}
.row {
  align-items: center;
  padding: 5%;
}
.image {
  width: 100%;
  height: auto;
}
button:hover {
  opacity: 0.8;
}
.text-header1, .text-header2{
  text-align: center;
  color: white;
}
h4{
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}
