<app-navbar></app-navbar>
<div class="fullscreen">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 mt-3 mb-2">
        <h1 class="text-header1">Welcome to Next Plan </h1>
        <h3 class="text-header2">The planner website for all calendar entries and todos. <br> You can find the calender and todo list in the Navigation bar. </h3>

        <img src="../../../assets/Postit.png" class="image" alt="Image1">
        <img src="../../../assets/Kalender.png" class="image" alt="Image2">
      </div>
    </div>
  </div>
